@model IEnumerable<Project.MVC.Models.VehicleMakeViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div>
    <p>
        <a asp-action="Create" asp-controller="VehicleMake" class="btn btn-primary">Create</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"><i class="fas fa-sort fa-lg"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParm"]"><i class="fas fa-sort fa-lg"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>

                <td>
                    @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Car")/'+@item.CarId" >Edit</button>*@
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit fa-lg"></i></a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-clipboard fa-lg"></i></a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-eraser fa-lg"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>

