@model ValueTuple<cloudscribe.Pagination.Models.PagedResult<VehicleMakeViewModel>, SearchSortExClass>

    @{
        ViewData["Title"] = "Index";
        ViewData["Controller"] = "VehicleMake";
        ViewData["Action"] = "Index";
    }

    <h3>List of Vehicle Makes</h3>

    @{
        var clearDisabled = @Model.Item2.SearchFilter != null ? "" : "disabled";
        var searchType = clearDisabled == "disabled" ? "button" : "submit";
        var optionSelected = @Model.Item2.SlectionPageSize.ToString();
    }

    <div class="container">
        <div class="row">
            <div class="col-7">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="SearchString" value="@Model.Item2.SearchFilter" />
                            <input type="submit" value="Search" class="btn btn-secondary" /> |
                            <input type=@searchType value="Clear" class="btn btn-secondary @clearDisabled" name="clearSearch" />
                            Items per page:
                            <select asp-for="@Model.Item1.PageSize" asp-action="Index" onchange="PageSizeValue(this,'@Url.Action("SetPageSize", "VehicleMake")')">
                                <option value="4" selected="@(optionSelected == "4")">4</option>
                                <option value="8" selected="@(optionSelected == "8")">8</option>
                                <option value="10" selected="@(optionSelected == "10")">10</option>
                            </select>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-5">
                <p>
                    <a asp-action="Create" asp-controller="VehicleMake" class="btn btn-primary float-right">Create <i class="fas fa-car fa-lg"></i></a>
                </p>
            </div>
        </div>
    </div>


        <table class="table table-striped">
            <thead class="tableHeader">
                <tr>
                    <th class="tableHeaderName">
                        @Html.DisplayName("Name")
                        <a class="sortLink"
                           asp-action="Index"
                           asp-route-sortOrder="@Model.Item2.NameSortParm"
                           asp-route-pageNumber="@Model.Item1.PageNumber">
                            <i class="fas fa-sort fa-lg"></i>
                        </a>
                    </th>
                    <th class="tableHeaderAbrv">
                        @Html.DisplayName("Abbreviation")
                        <a class="sortLink"
                           asp-action="Index"
                           asp-route-sortOrder="@Model.Item2.AbrvSortParm"
                           asp-route-pageNumber="@Model.Item1.PageNumber">
                            <i class="fas fa-sort fa-lg"></i>
                        </a>
                    </th>
                    <th class="tableHeaderOptions">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1.Data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Abbreviation)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit"><i class="far fa-edit fa-lg"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-eraser fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    <partial name="_Pagination" view-data="ViewData" model="Model" />

    <script>
        function PageSizeValue(pageSize, baseUrl) {
            window.location.href = baseUrl + '?pageSize=' + pageSize.value;
        }
    </script>
