@*@model IEnumerable<Project.MVC.Models.VehicleMakeViewModel>*@
@*@model Project.MVC.HelpClasses.Pagination<VehicleModelViewModel>*@
@model ValueTuple<cloudscribe.Pagination.Models.PagedResult<VehicleModelViewModel>, SearchSortExClass>
@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "VehicleModel";
    ViewData["Action"] = "Index";
}

<h3>List of Vehicle Models</h3>

<div>
    <p>
        <a asp-action="Create" asp-controller="VehicleModel" class="btn btn-primary">Create</a>
    </p>
</div>

@{
    //var clearDisabled = ViewData["SearchFilter"] != null ? "" : "disabled";
    //var optionSelected = ViewData["SlectionPageSize"].ToString();

    var clearDisabled = @Model.Item2.SearchFilter != null ? "" : "disabled";
    var optionSelected = @Model.Item2.SlectionPageSize.ToString();
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@Model.Item2.SearchFilter" />
            <input type="submit" value="Search" class="btn btn-secondary" /> |
            <input type="submit" value="Clear" class="btn btn-secondary @clearDisabled" name="clearSearch" />
            <select asp-for="@Model.Item1.PageSize" asp-action="Index" onchange="PageSizeValue(this,'@Url.Action("SetPageSize", "VehicleModel")')">
                <option value="4" selected="@(optionSelected == "4")">4</option>
                <option value="8" selected="@(optionSelected == "8")">8</option>
                <option value="10" selected="@(optionSelected == "10")">10</option>
            </select>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Brand Name")
                <a asp-action="Index" 
                   asp-route-sortOrder="@Model.Item2.BrandSortParm" 
                   asp-route-pageNumber="@Model.Item1.PageNumber"
                   >
                <i class="fas fa-sort fa-lg"></i></a>
            </th>
            <th>
                @Html.DisplayName("Name")
                <a asp-action="Index" 
                   asp-route-sortOrder="@Model.Item2.NameSortParm" 
                   asp-route-pageNumber="@Model.Item1.PageNumber"
                   >
                <i class="fas fa-sort fa-lg"></i></a>
            </th>
            <th>
                @Html.DisplayName("Abbreviation")
                <a asp-action="Index" 
                   asp-route-sortOrder="@Model.Item2.AbrvSortParm" 
                   asp-route-pageNumber="@Model.Item1.PageNumber"
                   >
                <i class="fas fa-sort fa-lg"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleMake.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit fa-lg"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-eraser fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Pagination" view-data="ViewData" model="Model" />

<script>
    function PageSizeValue(pageSize, baseUrl) {
        window.location.href = baseUrl + '?pageSize=' + pageSize.value;
    }
</script>